	body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
	Table.stock{
			border-top:1px solid #91b0cc;
			border-bottom:1px solid #91b0cc;
			border-left:1px solid #91b0cc;
			border-right:1px solid #91b0cc;
		}

		Table.stock caption{
			font-size:15px;
			font-weight:bold;
			text-align:left;
			height:24px;
			line-height:24px;
			
			border-top:1px solid #91b0cc;
			border-bottom:0px dashed #91b0cc;
			border-left:1px solid #91b0cc;
			border-right:1px solid #91b0cc;
			
			padding-left:5px;
			color:#484848;
			background-image:url(../images/titBg.gif);
		}

		Table.stock th{
			font-size:13px;
			font-weight:normal;
			background-color:#f2f9ff;
			border-bottom:1px solid #91b0cc;
			color:#62676b;
			height:20px;
			line-height:20px;
			text-align:center;
		}

		Table.stock td{    
			border-bottom:1px solid #e6e6e6;
			color:#62676b;
			height:20px;
			line-height:20px;
			
			text-align:center;
			
			/**
			border-right:#C8B9AE solid 1px;
			border-bottom:#C8B9AE solid 1px;
			background-color: #D7D1CB;
			padding:10px 10px 6px;
			vertical-align: top;
			**/
		}

		Table.stock td a{    
			color:#002b8d;
			text-decoration: underline;
		}

		Table.stock td a:hover{    
			color:#cc0000;
			text-decoration: underline;
		}

		.odd{
			background-color:#ffffff;
		}
		.even{
			background-color:#f5f5f5;
		}
		
		
.left_topbg {
	background-image: url(../images/content-bg.gif);
	background-repeat: repeat-x;
}
.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}



		
<!--·ÖÒ³-->

.pagination { 
    float: right; 
    font-size: 16px; 
    line-height: 23px; 
    height: 25px; 
    color:#668B8B; 
    font-family: Verdana; 
} 

.pagination a { 
    text-decoration: none; 
   font-weight: bold; 
    border: 1px solid #FFFFFF; 
    background-color: #668B8B; 
    color: #FFFFFF; 
    margin: 0 -1px 0 -1px;
    padding: 0 5px 2px 5px; 
    line-height: normal; 
    } 
    
.pagination a:hover { 
    border: 1px solid #668B8B; 
    background-color: #660000; 
    color: #668B8B; 
} 

.pagination .noncepage { 
    color: #668B8B; 
    background-color: #ffffff; 
    border: 1px solid #668B8B; 
    margin-right:0px;
} 

.pagination .inputnumber { 
    font-family: Verdana; 
    width: 40px; 
    height: 20px; 
    border: 1px solid #668B8B; 
    font-weight: bold; 
    color: #668B8B; 
    text-align:center;
} 

.pagination .inputgo { 
    font-family: Verdana; 
    width: 45px; 
    height: 22px; 
    background-color: #668B8B; 
    border: 1px solid #668B8B; 
    font-size: 12px; 
    font-weight: bold; 
    color: #ffffff; 
    cursor:hand;
}



<!-- ÐÂ·ÖÒ³ -->
/**
.pagination{
	float: right; 
 overflow:hidden;
 margin:0;
 padding:10px 10px 6px 10px;
 border-top:1px solid #f60;
 _zoom:1;
}
.pagination *{
 display:inline;
 float:left;
 margin:0;
 padding:0;
 font-size:12px;
}
.pagination i{
 float:none;
 padding-right:1px;
}
.currentPage b{
 float:none;
 color:#f00;
}
.pagination li{
 list-style:none;
 margin:0 5px;
}
.pagination li li{
 position:relative;
 margin:-2px 0 0;
 font-family: Arial, Helvetica, sans-serif
}
.firstPage a,.previousPage a,.nextPage a,.lastPage a{
 overflow:hidden;
 height:0;
 text-indent:-9999em;
 border-top:8px solid #EEF2FB;
 border-bottom:8px solid #EEF2FB;
}
.pagination li li a{
 margin:0 1px;
 padding:0 4px;
 border:3px double #fff;
 +border-color:#eee;
 background:#eee;
 color:#06f;
 text-decoration:none;
}
.pagination li li a:hover{
 background:#f60;
 border-color:#fff;
 +border-color:#f60;
 color:#fff;
}
li.firstPage{
 margin-left:40px;
 border-left:3px solid #06f;
}
.firstPage a,.previousPage a{
 border-right:12px solid #06f;
}
.firstPage a:hover,.previousPage a:hover{
 border-right-color: #f60;
}
.nextPage a,.lastPage a{
 border-left:12px solid #06f;
}
.nextPage a:hover,.lastPage a:hover{
 border-left-color:#f60;
}
li.lastPage{
 border-right:3px solid #06f;
}
li li.currentState a{
 position:relative;
 margin:-1px 3px;
 padding:1px 4px;
 border:3px double #EEF2FB;
 +border-color:#f60;
 background:#f60;
 color:#EEF2FB;
}
li.currentState,.currentState a,.currentState a:hover{
 border-color:#EEF2FB #ccc;
 cursor:default;
}
**/