<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<description>service配置</description>
	<!--  
	 <bean id="baseService" class="com.jrmapp.service.base.BaseServiceImpl" 
        abstract="true" > 
    </bean> 
    <bean id="userService" class="com.jrmapp.service.impl.UserServiceImpl"> 
    </bean>
    -->
	<!-- jws -->
    <bean id="helloWorld"
        class="com.jrmapp.jws.HelloWorldImpl">
        <property name="helloStr">
          <value>Say Hello to :</value>
        </property>
    </bean>
   
	
</beans>
