<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd" 
	>
	<context:property-placeholder location="classpath:database_conn.properties"/> 
<!--
	    使用spring的listenerContainer，消息用持久化保存，服务器重启不会丢失 oracle -->
	   <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
      <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/> 
      <property name="url">
      <value>${url}</value>
      </property>
      <property name="username" value="javaee"/> 
      <property name="password" value="javaee"/> 
      <property name="maxActive" value="200"/> 
      <property name="poolPreparedStatements" value="true"/> 
    </bean> 
     
     <!-- 
  <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/> 
      <property name="url" value="jdbc:mysql://localhost:3306/shopxx?useUnicode=true&characterEncoding=UTF-8" />
      <property name="username" value="root"/> 
      <property name="password" value="root"/> 
      <property name="maxActive" value="200"/> 
      <property name="poolPreparedStatements" value="true"/> 
    </bean> 
     -->
	<!--    
  <bean id="broker"
        class="org.apache.activemq.xbean.BrokerFactoryBean">
        <property name="config"
            value="classpath:activemq.xml" />
        <property name="start"
            value="true" />
    </bean>
    -->

	  <!-- 连接外部的activeMQ
	<amq:connectionFactory id="jmsConnectionFactory" brokerURL="tcp://localhost:61616?wireFormat.maxInactivityDuration=0" />
	  ActiveMQ connectionFactory  -->
	  <!-- 
   客户端使用普通传输方式：tcp://localhost:61616   
    此处需加以注意的是Listener端的borkerURL使用了failover传输方式：   
    failover:(tcp://localhost:61616)?initialReconnectDelay=100&amp;  
maxReconnectAttempts=5   
    failover transport是一种重新连接机制，用于建立可靠的传输。此处配置的是一旦ActiveMQ broker中断，Listener端将每隔100ms自动尝试连接，
    直至成功连接或重试5次连接失败为止。  
    failover还支持多个borker同时提供服务，实现负载均衡的同时可增加系统容错性，格式： failover:(uri1,...,uriN)?transportOptions  
-->
	  
 <bean id="connectionFactory"  
        class="org.apache.activemq.spring.ActiveMQConnectionFactory">  
        <property name="brokerURL" value="tcp://localhost:61616?wireFormat.maxInactivityDuration=0"/>  
        <property name="useAsyncSend" value="true"/>  
    </bean>  
  
    <bean id="topicListenConnectionFactory"  
        class="org.apache.activemq.spring.ActiveMQConnectionFactory">  
        <!-- <property name="brokerURL" value="tcp://localhost:61616"/>  -->
        <property name="brokerURL" value="tcp://localhost:61616?wireFormat.maxInactivityDuration=0"/>  
        <property name="clientID" value="com.jrmapp.clientA"/>  
         <property name="optimizeAcknowledge" value="true" /> <!-- 批量确认 -->
    </bean>  
    
     <bean id="topicListenConnectionFactoryB"  
        class="org.apache.activemq.spring.ActiveMQConnectionFactory">  
        <!-- <property name="brokerURL" value="tcp://localhost:61617"/>   -->
        <property name="brokerURL" value="tcp://localhost:61616?wireFormat.maxInactivityDuration=0"/>  
        <property name="clientID" value="com.jrmapp.clientB"/>  
         <property name="optimizeAcknowledge" value="true" />
    </bean>  
 <!--定义消息队列-->  
    <bean id="myQueue" class="org.apache.activemq.command.ActiveMQQueue">  
          <constructor-arg value="com.jrmapp.queue"/>  
    </bean>  
    <!--定义订阅主题-->  
    <bean id="myTopic"  class="org.apache.activemq.command.ActiveMQTopic">  
          <constructor-arg value="com.jrmapp.topic"/>  
    </bean>  

<!-- Spring JMS Template  
        JmsTemplate 类的实例 一经配置便是线程安全 的。 要清楚一点，JmsTemplate   
        是有状态的，因为它维护了 ConnectionFactory 的引用，但这个状态时不是会话状态。  
-->
<bean id="jmsTemplate"
        class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <bean class="org.springframework.jms.connection.SingleConnectionFactory">
                <property name="targetConnectionFactory"
                    ref="connectionFactory" />
            </bean>
        </property>
        <!-- 
        <property name="defaultDestination"
            ref="myQueue" />
             -->
      <!--JMS API有两种发送方法，一种采用发送模式、  
优先级和存活时间作为服务质量（QOS）参数，  
            默认{deliveryMode:2(1),priority:4,timeToLive:0}  
            另一种使用无需QOS参数的缺省值方法。  
            <property name="explicitQosEnabled" value="true"/>  
            <property name="deliveryMode" value="2"/>  
            <property name="priority" value="4"/>  
                        <property name="timeToLive" value="1000"/>  
         -->           
        <property name="messageConverter"
            ref="defaultMessageConverter" />
    </bean>
    <!-- 可以在JmsTemplate发送配置中,加上<property name=”timeToLive” value=”432000000”/>,5天的生命期,如果消息一直没有被处理,消息会被删除,
    但是表中会存在CONTAINER为queue://ActiveMQ.DLQ的记录.也就是说,相当于将过期的消息发给了一个ActiveMQ自定义的删除队列..  -->
    
<!-- 
<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory">
		</property>
		<property name="defaultDestination" ref="dest"></property>

		<property name="messageConverter" ref="defaultMessageConverter" />
	</bean>
	 -->
	<!-- 
	<bean id="messageSender" class="com.jrmapp.activemq.MessageSender">
		<property name="template" ref="jmsTemplate" />
	</bean>
	<bean id="messageReceiver" class="com.jrmapp.activemq.MessageReceiver">
		<property name="template" ref="jmsTemplate" />
	</bean>
	 -->

	<!--  Spring JmsTemplate config 
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
		 lets wrap in a pool to avoid creating a connection per send 
			<bean class="org.springframework.jms.connection.SingleConnectionFactory">
				<property name="targetConnectionFactory" ref="jmsConnectionFactory" />
			</bean>
		</property>
		custom MessageConverter
		<property name="messageConverter" ref="defaultMessageConverter" />
	</bean>
-->
	<!-- converter  -->
	<bean id="defaultMessageConverter" class="com.jrmapp.activemq.DefaultMessageConverter" />

	<!-- POJO which send Message uses  Spring JmsTemplate -->
	<bean id="topicMessageProducer" class="com.jrmapp.activemq.TopicMessageProducer">
		<property name="template" ref="jmsTopicTemplate" />
		<property name="destination" ref="myTopic" />
	</bean>
	<bean id="queueMessageProducer" class="com.jrmapp.activemq.QueueMessageProducer">
		<property name="template" ref="jmsQueueTemplate" />
		<property name="destination" ref="myQueue" />
	</bean>

	<!--  Message Driven POJO (MDP) -->
    <!-- consumer1 for topic a -->
    <bean id="topicConsumerA" class="com.jrmapp.activemq.TopicConsumerA" />

    <!-- consumer2 for topic a -->
    <bean id="topicConsumerB" class="com.jrmapp.activemq.TopicConsumerB" />

    <!-- consumer for queue -->
    <bean id="queueConsumer" class="com.jrmapp.activemq.QueueConsumer" />

    <!-- Message Listener for  -->
	<bean id="topicListenerA" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="topicConsumerA" />
		<!--  may be other method -->
		<property name="defaultListenerMethod" value="receive" />
		<!-- custom MessageConverter define -->
		<property name="messageConverter" ref="defaultMessageConverter" />
	</bean>
	<bean id="topicListenerB" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="topicConsumerB" />
		<!--  may be other method -->
		<property name="defaultListenerMethod" value="receive" />
		<!-- custom MessageConverter define -->
		<property name="messageConverter" ref="defaultMessageConverter" />
	</bean>


    <bean id="queueListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="queueConsumer" />
		<!--  may be other method -->
		<property name="defaultListenerMethod" value="receive" />
		<!-- custom MessageConverter define -->
		<property name="messageConverter" ref="defaultMessageConverter" />
	</bean>

<!-- 
在connection的基础上创建一个session，同时设置是否支持事务ACKNOWLEDGE标识。 
• AUTO_ACKNOWLEDGE：自动确认模式。一旦接收方应用程序的方法调用从处理消息处返回，会话对象就会确认消息的接收。  
• CLIENT_ACKNOWLEDGE：客户端确认模式。会话对象依赖于应用程序对被接收的消息调用一个acknowledge()方法。一旦这个方法被调用，
会话会确认最后一次确认之后所有接收到的消息。这种模式允许应用程序以一个调用来接收，处理并确认一批消息。
注意：在管理控制台中，如果连接工厂的Acknowledge Policy（确认方针）属性被设置为"Previous"（提前），
但是你希望为一个给定的会话确认所有接收到的消息，那么就用最后一条消息来调用acknowledge()方法。  
• DUPS_OK_ACKNOWLEDGE：允许副本的确认模式。一旦接收方应用程序的方法调用从处理消息处返回，会话对象就会确认消息的接收；
而且允许重复确认。在需要考虑资源使用时，这种模式非常有效。注意：如果你的应用程序无法处理重复的消息的话，你应该避免使用这种模式。
如果发送消息的初始化尝试失败，那么重复的消息可以被重新发送。 
•  SESSION_TRANSACTED  
 -->
 
    <!--  listener container，MDP无需实现接口	subscriptionDurable属性：设置监听是否是持久--> 
	<bean id="topicListenerContainerA" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="topicListenConnectionFactory" />
		<property name="pubSubDomain" value="true"/>  
          
        <property name="concurrentConsumers" value="1"/>  
        <property name="maxConcurrentConsumers" value="1"/>  
        <property name="receiveTimeout" value="10000"/>  
         <property name="sessionAcknowledgeModeName" value="CLIENT_ACKNOWLEDGE"/>
		<property name="destination" ref="myTopic" />
		<property name="messageListener" ref="topicListenerA" />
	     <property name="subscriptionDurable" value="true"/>  
	     <!-- 持久化客户端ID -->  
        <property name="clientId" value="com.jrmapp.clientA"/>  
        <property name="durableSubscriptionName" value="com.jrmapp.clientA"/>  <!-- 持久订阅者名称  ACTIVEMQ_ACKS表的SUB_NAME字段 -->
         <property name="taskExecutor" ref="taskExecutor" />  
        <property name="cacheLevel" value="0"/>  
	</bean>
	
	<!--   -->
		<bean id="topicListenerContainerB" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="topicListenConnectionFactoryB" />
		<property name="pubSubDomain" value="true"/>  
          
        <property name="concurrentConsumers" value="1"/>  
        <property name="maxConcurrentConsumers" value="1"/>  
        <property name="receiveTimeout" value="10000"/>  
         <property name="sessionAcknowledgeModeName" value="CLIENT_ACKNOWLEDGE"/>
		<property name="destination" ref="myTopic" />
		<property name="messageListener" ref="topicListenerB" />
	     <property name="subscriptionDurable" value="true"/>  
        <property name="clientId" value="com.jrmapp.clientB"/>  
        <property name="durableSubscriptionName" value="com.jrmapp.clientB"/>  
         <property name="taskExecutor" ref="taskExecutor" />  
        <property name="cacheLevel" value="0"/>  
	</bean>

    
    <bean id="queueListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="myQueue" />
		<property name="messageListener" ref="queueListener" />
		 <property name="concurrentConsumers" value="1"/>  
        <property name="maxConcurrentConsumers" value="1"/>  
        <property name="receiveTimeout" value="10000"/>  
        <property name="sessionAcknowledgeModeName" value="CLIENT_ACKNOWLEDGE"/>
        <property name="taskExecutor" ref="taskExecutor" />  
        <property name="cacheLevel" value="0"/>  
	</bean>

	 <!--DefaultMessageListenerContainer默认的线程池支持-->  
    <bean id="taskExecutor"   
        class="org.springframework.core.task.SimpleAsyncTaskExecutor"/>  
	<!--消息发送模板-->  
    <bean id="jmsQueueTemplate"  
        class="org.springframework.jms.core.JmsTemplate102">  
        <property name="connectionFactory" ref="connectionFactory"/>  
        <property name="messageConverter" ref="defaultMessageConverter"/>  
        <property name="sessionTransacted" value="true"/>  
        <property name="receiveTimeout" value="10000"/>  
    </bean>  
      
    <bean id="jmsTopicTemplate"  
        class="org.springframework.jms.core.JmsTemplate102">  
        <property name="connectionFactory" ref="connectionFactory"/>  
        <property name="messageConverter" ref="defaultMessageConverter"/>  
        <property name="pubSubDomain" value="true"/>  
        <property name="sessionTransacted" value="true"/>  
         <property name="explicitQosEnabled" value="true" />  
        <property name="receiveTimeout" value="10000"/>  
    </bean>  
</beans>